<launch>
    <node pkg="autoware_mini_tutorial" name="publisher_one" type="publisher.py" output="screen" required="true">
        <param name="message" value="Hello Tartu!" />
        <param name="rate" value="2" />
    </node>
    <node pkg="autoware_mini_tutorial" name="publisher_two" type="publisher.py" output="screen" required="true">
        <param name="rate" value="10" />
        <param name="message" value="Hello World!" />
    </node>
    <node pkg="autoware_mini_tutorial" name="subscriber" type="subscriber.py" output="screen" required="true"/>
</launch>
